[Unit]
Description=Run ENVSIM as a service

[Service]
#Environment= MY_ENVIRONMENT_VAR =/path/to/file.config
WorkingDirectory=/root/phase2-hurdle/gr-envsim/apps
ExecStart=/usr/bin/python2 /root/phase2-hurdle/gr-envsim/apps/env_sim_server_debug_outputs.py --config-file=/root/phase2-hurdle/gr-envsim/apps/envsim.ini

[Install]
WantedBy=multi-user.target